//- h1 Đây là header
header
    nav
        .container
            .row
                .col-md-3
                    a
                        img(src="./img/logo.png")
                .col-md-9
                    .nav_wrap
                        ul
                            li
                                a(href="#") HOME
                            li
                                a(href="#") ABOUT
                            li
                                a(href="#") WORK
                            li
                                a(href="#") BLOG
                            li
                                a(href="#") CONTACT